@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f9;
  --foreground: #0f172a;
  --muted: #64748b;
  --border: #e2e8f0;
}

.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
  --muted: #94a3b8;
  --border: #334155;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.2s, color 0.2s;
  font-feature-settings: "rlig" 1, "calt" 1;
}

@layer base {
  html {
    @apply antialiased;
  }
}
